:root{
    --primary-color: #ACD9B2;
    --secondary-color: #C7C7C7;
    --white: #FFFFFF;
    --dark: #232830;
    --text-input-field: #F7F7F7;
    --black: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Quicksand', sans-serif;
    font-size: 62.5%;
}

